/* ==== HEADER - STICKY*/
.flexRow { /* pagina que mostra os produtos com detalhe */
  background: #303030;
}
.flexRow--topo{ /* mudar a cor da barra do tab-layout */
  background:#212121;
}

/* ==== HEADER - TAB-LAYOUT*/
.flexRow--tabLayout{ /* mudar a cor da barra do tab-layout */
    background:#212121;
  }

/* ==== COR DE FUNDO DO SLIDER ==== */

.flexRowContent--slider {
  background: #303030;
}

  /* ==== FOOTER ==== */

.flexRow--rodape {
  background: #424242;
  width: 100%;
  position: fixed;
  top: 92%;
    
  }

.flexRow--topo :global(.vtex-button)  { /* BOTAO CARRINHO */
    background: none;
     border: none;
}

.flexRow--topo :global(.vtex-button):hover  {
  background: none;
   border: none;
 }

.flexRowContent--slider-banner { /* COR DE FUNDO DO SLIDER */
  background: #303030;
}

   