
/* .brandName--summary {
    color:fff;
} */

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.nameContainer {
    color:fff;
}

.container--summary { /* CARD DO PRODUTO */

    background: #424242;
    /* margin-left: 300px;
    margin-right: 250px; */
}

.element--summary { /* elementos dentro do bloco cinza de produtos */
    display: flex;
    justify-content: center;
    align-items: center;

}

.productNameContainer { /* container do titulo */
   text-align: center; 
}

.productBrand { /* TITULOS DOS PRODUTOS */
    color: #fff;
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 1.334;
    padding: 5px 5px;
}

.description {  /* TEXTO HIGHLIGHT QUE APARECE EM ALGUNS PRODUTOS */
    padding: 10px 0;
    width: 100%;
    background: #000;
    color: #59ff00;
    text-align: center;

}
/* .productHighlightText {
    background: blueviolet;
}
 */
