/* ======= SLIDER-LAYOUT DOS BANNERS =====*/

.sliderLayoutContainer--carousel { /* fundo do slider - total*/
    display: flex;
    background: #303030;
    align-items: center;
    justify-content: center;
    height: 360px;
    width: 920px;
    border-radius: 20px;
    padding-bottom: 40px;
}

.slideChildrenContainer--carousel { /* area de conteudo que queremos usar para colocar as imagens */
    cursor: pointer;
    display: flex;
    overflow: hidden;
    height: 320px;
    width: 920px;
    border-radius: 20px;
    background: #fff;
}
.paginationDot {
    background: #6e6e6e;
}

.paginationDot--isActive {
    background: #59ff00;
}

.sliderArrows--carousel {
    padding-top: 370px;
    color: #fff;
}

/* ======= SLIDER-LAYOUT DOS PRODUTOS =====*/

.sliderLayoutContainer--shelf { /* fundo do slider - total*/
    display: flex;
    background: #8d2a2a;
    align-items: center;
    justify-content: center;
    height: 500px;
    width: 400px;
}

.slideChildrenContainer--shelf  { /* area de conteudo que queremos usar para colocar as imagens */
    cursor: pointer;
    display: flex;
    overflow: hidden;
    height: 500px;
    width: 400px;
    background: #fff;
}

