.listItem :global(.vtex-button) {
    border: none;
    background: none;
    color: #fff; /* cor de fundo da letra do botao ativo */
    font-size: 14px;
}
.listItemActive :global(.vtex-button) {
    background: none; /* cor de fundo do botao ativo */
    border: none;
    color: #59ff00; /* cor de fundo da letra do botao ativo */
    font-size: 14px;
}

