@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.triggerContainer :global(.vtex-modal-layout) {
  color: aqua;
}
 
:global(.vtex-button) {  /* BOTAO DO PRODUTO */
  width: 200px;
	background-color: #59ff00;
  color: #3c3c3c;
	border: none;
  border-radius: 4px;
}

:global(.vtex-button):hover { /* BOTAO DO PRODUTO - HOVER */
  background-color: #59ff00;
  color: #3c3c3c;
  opacity: 0.8;

}

.container { /* CONTAINER COM OS CARDS DOS PRODUTOS */
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto 20px;
}

.imageElement--footer { /* FOOTER ICONS E TEXTO */
  margin-top: 5px;
  margin-bottom: -10px;
}
/*==== PREÇOS NOS CARDS DE PRODUTOS ==== */
.sellingPrice{
  color: #59ff00; /* VERDE CLARO */
}
.listPrice { /* MOSTRA O VALOR ANTIGO */
  color: #fff;
}
.installmentsPrice { /* MOSTRA A COR DA FONTE DE VALOR PARCELADO */
  color: #fff; 
}

/* carousel */
 .carouselGaleryThumbs {
  opacity: 0;
  display:none; /* FAZ UM ELEMENTO "SUMIR" */
}

.caretIcon { /* SETAS DOS PRODUTOS */
  padding-top: 260px;
}
